In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
csv_path = "CityData.csv"

# Import the books.csv file as a DataFrame
cities = pd.read_csv(csv_path, encoding="utf-8")
cities.head()

        City      Lat       Lon   Temp  HUM  Cloud  Wind
0       Nara  34.6851  135.8049  71.49   63    100  3.94
1  Sistranda  63.7256    8.8340  64.36   85     95  5.23
2     Wukari   7.8500    9.7833  80.42   76     69  5.01
3  Hithadhoo  -0.6000   73.0833  83.16   73    100  9.35
4     Ankara  39.9199   32.8543  62.20   80     40  2.30

In [3]:
html = cities.to_html(index=False, na_rep='NaN', sparsify=None, index_names=True, justify=None, bold_rows=True, 
               classes="container-float", escape=True, show_dimensions=False, notebook=False)

In [4]:
text_file = open("Data.html", "w")
text_file.write(html)
text_file.close()